# PlatformIO
.pio/
**/.pio/
libdeps/
**/libdeps/

# VS Code: ignore everything but allow selected config files (anywhere)
**/.vscode/*
**/.vscode/extensions.json
**/.vscode/settings.json
**/.vscode/tasks.json
**/.vscode/launch.json

# Credentials
credentials.h
include/credentials.h
src/credentials.h
**/credentials.h

# Patterns
src/patterns/patterns.h

# Py/Node/OS
__pycache__/
node_modules/
.DS_Store
Thumbs.db

# Build artifacts / temp
*.log
*.tmp